body, html {
	margin-left: auto;
	margin-right: auto;
}

/* QUOTE SECTION*/
.quoteSection {
	background: #406c96;
	border-bottom: 2px solid #000000;
}

.randomQuote {
	margin-top: 50px;
	background: #406c96;
	height: 100px;
}

.quote {
	text-align: center;
	color: #ffffff;
}

/* SQUARES SECTION*/
.holder {
	background-color: #ccc;
	width: 500px;
	height: 500px;
}

.squareHolder {
	/*div in the center*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/**/
	/* disable user selection*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/**/
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	width: 300px;
	height: 300px;
}

.square {
	display: inline-block;
	padding: 1px;
	width: 50px;
	height: 50px;
}

/*FOOTER SECTION*/
.footerSection {
	background: #406c96;
	color: white;
	height: 30px;
	text-align: center;
	overflow: hidden;
}

/* COLOR CLASSES FOR CLICK EVENT*/
.colorBlack {
	background: #000000;
}

.colorRed {
	background: #ff0000;
}

.colorGreen {
	background: #00ff00;
}

.colorWhite {
	background: #ffffff;
}

/* MEDIA QUERIES*/
@media(min-width:601px) and (max-width:960px){
	

}

@media(max-width:600px){
	

}

@media(max-width:768px){
	h1 {
		font-size: 35px !important;
		text-align: center !important;
	}

	h2 {
		font-size: 25px !important;
		text-align: center !important;
		display: block !important;
		line-height: 1.5em !important;
	}

	.content-icons i {
		margin-top: 20px !important;
	}
}